entrypoint = "main.py"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt", "tree"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Full Stack"

[[workflows.workflow]]
name = "Run API Server"
author = 3917583
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Start Frontend"
author = 3917583
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[[workflows.workflow]]
name = "Full Stack"
author = 3917583
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[[ports]]
localPort = 5000
externalPort = 80
